{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block content %}
    <h1>Welcome to Movies hub</h1>
    <hr>
    <form action="/" method="post">
        <div class="input-group">
            <input required type="text" class="form-control" name="movie_name" placeholder="Search for a movie" autofocus autocomplete="off">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    {% if history %}
        <h4 class="mt-4">Search History</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history[:10] %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
